<!-- Headder -->
{{> headder}}
<!-- Navbar -->
{{> navbar}}

<!-- Masthead -->
<header class="masthead text-white text-center">
    <div class="container">
        <div class="row">
            <div class="col-xl-9 mx-auto">
                <h1 class="mb-5">About</h1>
            </div>
            </div>
        </div>
    </div>
</header>

<!-- Image Showcases -->
<section class="showcase">
    <div class="container-fluid p-0">
        <div class="row no-gutters">

            <!--            <div class="col-lg-6 order-lg-2 text-white showcase-img" style="background-image: url('img/bg-london.jpg');"></div>-->
            <div class="col-lg-12 order-lg-1 my-auto showcase-text">
                <h2>Created with 	&#10084; by Andrei Geadau</h2>
                <p class="lead mb-0"></p>
                <p>Out of pure boredom and passion.</p>
            </div>
        </div>
    </div>
</section>

{{> footer}}