<!-- Headder -->
{{> headder}}
<!-- Navbar -->
{{> navbar}}

<!-- Masthead -->
<header class="masthead text-white text-center">
    <div class="container">
        <div class="row">
            <div class="col-xl-9 mx-auto">
                <h1 class="mb-5">Check out the weather in your favourite city!</h1>
            </div>
            <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
                <form action="/weather" method="get">
                    <div class="form-row">
                        <div class="col-12 col-md-9 mb-2 mb-md-0">
                            <input id="city" name="city" required type="text" class="form-control form-control-lg" placeholder="Enter city...">
                        </div>
                        <div class="col-12 col-md-3">
                            <button type="submit" class="btn btn-block btn-lg btn-primary">Go!</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</header>

<!-- Image Showcases -->
<section class="showcase">
    <div class="container-fluid p-0">
        <div class="row no-gutters">

            <div class="col-lg-6 order-lg-2 text-white showcase-img" style="background-image: url('img/bg-london.jpg');"></div>
            <div class="col-lg-6 order-lg-1 my-auto showcase-text">
                <h2>Ready for Rainy Days</h2>
                <p class="lead mb-0">With my application you will never have the 'oh, crap' moment when it starts raining. Always check the weather before going to your fabvourite holiday destination!</p>
            </div>
        </div>
        <div class="row no-gutters">
            <div class="col-lg-6 text-white showcase-img" style="background-image: url('img/bg-france.jpg');"></div>
            <div class="col-lg-6 my-auto showcase-text">
                <h2>Every City in the World </h2>
                <p class="lead mb-0">Newly improved, and full of great features, TheWeatherApp is leading the way in weather application! Find temperature, humidity and much more for all cities in the world!</p>
            </div>
        </div>
        <div class="row no-gutters">
            <div class="col-lg-6 order-lg-2 text-white showcase-img" style="background-image: url('img/bg-venice.jpg');"></div>
            <div class="col-lg-6 order-lg-1 my-auto showcase-text">
                <h2>Be Positive &amp; Happy</h2>
                <p class="lead mb-0">There is no such thing as bad weather, only different kinds of good weather.</p>
                <p class="lead mb-0">- John Ruskin</p>

            </div>
        </div>
    </div>
</section>

<!-- Footer -->
{{> footer}}
